@charset UTF-8;

body
{
  color:#73879C;
  background:#2A3F54;
  font-family:"Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size:13px;
  font-weight:400;
  line-height:1.471;
}

h1,.h1,h2,.h2,h3,.h3
{
  margin-top:10px;
  margin-bottom:10px;
}

a
{
  color:#5A738E;
  text-decoration:none;
}

a,a:visited,a:focus,a:active,:visited,:focus,:active,.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus
{
  outline:0;
}

a:hover,a:focus
{
  text-decoration:none;
}